# Environment
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/settings.json
.idea/

# Data
/data/raw/
/data/temp/
*.csv
*.xlsx
/logs/*.log

# Python
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db